<style>
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}
</style>

<h1>Favorite movies for <%= current_user.username %></h1>
<br>
<br>
<div style="width: 100%;">
    <% if !@drama.empty? %>
    <div style="float: left; width: 25%;">
    <h1 style="text-align: center;">DRAMA</h1>
        <% @drama.each do | movie | %>
        <ul style="list-style-type: none;">
            <li><%= movie.title %> <br>
            <br>
            <a href="/movies/<%= movie.id %>/edit">Edit</a>
            &nbsp;&nbsp;
            <form action="/movies/<%= movie.id %>" method="post" style="display: inline-block;">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <button type="submit" name="delete" value="delete" class="btn-link">Delete</button>
            </form>
            <br>
            </li>
            <hr>
        </ul>
        <% end %>
    </div>
    <% end %>
    <% if !@comedy.empty? %>
    <div style="float: left; width: 25%;">
    <!-- <div style="text-align: center; width: 20%; height: 100%; display: inline-block; padding-top:0;"> -->
    <h1 style="text-align: center;">COMEDY</h1>
        <% @comedy.each do | movie | %>
        <ul style="list-style-type: none;">
            <li><%= movie.title %> <br>
            <br>
            <a href="/movies/<%= movie.id %>/edit">Edit</a>
            &nbsp;&nbsp;
            <form action="/movies/<%= movie.id %>" method="post" style="display: inline-block;">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <button type="submit" name="delete" value="delete" class="btn-link">Delete</button>
            </form>
            <br>
            </li>
            <hr>
        </ul>
        <% end %>
    </div>
    <% end %>
    <% if !@action.empty? %>
    <div style="float: left; width: 25%;">
    <!-- <div style="text-align: center; width: 20%; height: 100%; display: inline-block; padding-top:0;"> -->
    <h1 style="text-align: center;">ACTION</h1>
        <% @action.each do | movie | %>
        <ul style="list-style-type: none;">
            <li><%= movie.title %> <br>
            <br>
            <a href="/movies/<%= movie.id %>/edit">Edit</a>
            &nbsp;&nbsp;
            <form action="/movies/<%= movie.id %>" method="post" style="display: inline-block;">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <button type="submit" name="delete" value="delete" class="btn-link">Delete</button>
            </form>
            <br>
            </li>
            <hr>
        </ul>
        <% end %>
    </div>
    <% end %>
    <% if !@horror.empty? %>
    <div style="float: left; width: 25%;">
    <h1 style="text-align: center;">HORROR</h1>
        <% @horror.each do | movie | %>
        <ul style="list-style-type: none;">
            <li><%= movie.title %> <br>
            <br>
            <a href="/movies/<%= movie.id %>/edit">Edit</a>
            &nbsp;&nbsp;
            <form action="/movies/<%= movie.id %>" method="post" style="display: inline-block;">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <button type="submit" name="delete" value="delete" class="btn-link">Delete</button>
            </form>
            <br>
            </li>
            <hr>
        </ul>
        <% end %>
    </div>
    <% end %>
</div>